@* @model DemoProjectAPI.Models.PetAnimal *@

@{
    ViewData["Title"] = "Details";
}

@model IEnumerable<DemoProjectAPI.Models.PetAnimal>

<h2>Pet List</h2>
<ul>
@foreach (var pet in Model)
{
    <li>@pet.petName - @pet.petType</li>
}
</ul>


@* <h1>Details</h1> *@

@* <div> *@
@*     <h4>PetAnimal</h4> *@
@*     <hr /> *@
@*     <dl class="row"> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.petId) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.petId) *@
@*         </dd> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.petName) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.petName) *@
@*         </dd> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.petType) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.petType) *@
@*         </dd> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.gender) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.gender) *@
@*         </dd> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.IsVeg) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.IsVeg) *@
@*         </dd> *@
@*     </dl> *@
@* </div> *@
@* <div> *@
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
@* </div> *@
