@model HMS_Entity.Models.Medical

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medical</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mSpecial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mSpecial)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.mId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
