@model IEnumerable<HMS_Entity.Models.Medical>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mSpecial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.mName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mSpecial)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.mId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.mId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.mId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
